/*Styling for contact us page*/
#MainDiv {
    padding-top: 150px;
    position: relative;
    min-height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background: rgb(207, 204, 255);
    min-width: 100%;
    max-width: 100vh;
    padding-bottom: 100px;
}

#MainDiv #WhiteBox {
    background: white;
    border-radius: 25px;
    min-width: 60%;
    max-width: 60%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

#MainDiv #WhiteBox #FirstRow {
    display: flex;
}

#MainDiv #WhiteBox #BottomRow {
    justify-content: center;
    gap: 75px;
    display: flex;
}

#MainDiv #WhiteBox #BottomRow .ContactUsBox {
    background: rgb(242, 241, 255);
    border-radius: 25px;
    min-height: 100px;
    padding: 5%;

}

.ContactUsMainText {
    text-align: left;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 15%;
}

.ContactUsTitle {
    text-align: left;
    margin-left: 10%;
    font-size: 50px;
    max-width: 40%;
    font-weight: bold;
}

#ContactUsBodyImage {
    width: 100%;
    max-width: 100%;
}


.ContactUsSocials {
    height: 30px;
}